<ion-content padding>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

    <ion-list lines=none mode=ios>
      <ion-item (click)="preo_enfermera1()">
        <ion-checkbox disabled="false"></ion-checkbox>
        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        <ion-label class="ion-text-wrap"> ... Preocupación de la enfermera</ion-label>
      </ion-item>

      <ion-item (click)="preo_enfermera1()">
        <ion-checkbox disabled="false"></ion-checkbox>
        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        <ion-label class="ion-text-wrap"> ... Preocupación de la familia</ion-label>
      </ion-item>
    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button strong="true" size="large" color="primary" (click)="anterior()">
            Anterior
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-button strong="true" size="large" color="primary" (click)="adelante()">
            Adelante
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
