<ion-header [translucent]="true">
  <ion-toolbar color=primary>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="primary">
    <p color="primary"></p>
    <ion-list lines="none">
      <ion-item color="primary">
        <p style="color:black;">
          Estado Neurológico, 2 puntos:
        </p>
      </ion-item>

      <ion-item color="primary">
        <ion-label style="color: black;">¿El paciente...</ion-label>
      </ion-item>

        <ion-item (click)="ir_salida1()" color="primary">
          <ion-checkbox disabled="false" checked = "false"></ion-checkbox>
          &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          <ion-label style="color: black;"> ... está irritable?</ion-label>
        </ion-item>

        <ion-item (click)="ir_salida2()" color="primary">
          <ion-checkbox disabled="false"></ion-checkbox>
          &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          <ion-label style="color: black;">... es difícil de consolar?</ion-label>
        </ion-item>
        <ion-item (click)="ir_salida3()" color="primary">
          <ion-checkbox disabled="false"></ion-checkbox>
          &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          <ion-label class="ion-text-wrap" style="color: black;">... responde solo a estímulos dolorosos?</ion-label>
        </ion-item>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button shape="round" strong="true" size="large" color="tertiary" (click)="regreso()">
          Anterior
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button shape="round" strong="true" size="large" color="tertiary" (click)="adelante()">
            Siguiente
        </ion-button>
      </ion-col>
    </ion-row>

</ion-content>
