<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Estado Neurológico, 2 puntos:
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <p></p>

    <ion-item>
      <ion-label>¿El paciente...</ion-label>
    </ion-item>

    <ion-list>
        <ion-item (click)="ir_salida1()">
          <ion-checkbox disabled="false" checked = "false"></ion-checkbox>
          &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          <ion-label> ... está irritable?</ion-label>
        </ion-item>

        <ion-item (click)="ir_salida2()">
          <ion-checkbox disabled="false"></ion-checkbox>
          &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          <ion-label>... es difícil de consolar?</ion-label>
        </ion-item>
        <ion-item (click)="ir_salida3()">
          <ion-checkbox disabled="false"></ion-checkbox>
          &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          <ion-label class="ion-text-wrap">... responde solo a estímulos dolorosos?</ion-label>
        </ion-item>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button size="large" color="primary" (click)="regreso()">
          Anterior
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" color="primary" (click)="adelante()">
          Siguiente
        </ion-button>
      </ion-col>
    </ion-row>

</ion-content>
